<% @title = 'ログイン' %>

<div id='login-form'>
  

  <%= form_with model: @form, url: :user_session do |f| %>
    <div>
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit 'ログイン' %>
    </div>
  <% end %>
<p><%= link_to '新規登録', :new_user_user %></p>
</div>