<% @title = 'アカウント設定' %>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "アカウント情報編集", :edit_user_account %> | 
    <%= link_to "パスワード変更", :edit_user_password %>
  </div>

  <table class="table">
    <tr>
      <th>ID</th>
      <td>
        <%= @user.uid %>
      </td>
    </tr>
    <tr>
      <th>名前</th>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td class="email">
        <%= @user.email %>
      </td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td class="password">**********</td>
    </tr>
    <tr>
      <th>経歴</th>
      <td><%= @user.experience %></td>
    </tr>
    <tr>
      <th>頻度</th>
      <td><%= @user.frequency %></td>
    </tr>
    <tr>
      <th>レベル</th>
      <td><%= @user.level %></td>
    </tr>
    <tr>
      <th>ひとこと</th>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
</div>