<% @title = 'プロフィール' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "編集", :edit_user_profile %>
  </div>

  <table class="attributes">
    <tr>
      <th>名前</th>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th>経歴</th>
      <td><%= @user.experience.presence || '未設定' %></td>
    </tr>
    <tr>
      <th>頻度</th>
      <td><%= @user.frequency.presence || '未設定' %></td>
    </tr>
    <tr>
      <th>レベル</th>
      <td><%= @user.level.presence || '未設定' %></td>
    </tr>
    <tr>
      <th>マイジム</th>
      <td><%= @user.gym&.name.presence || '未設定' %></td>
    </tr>
    <tr>
      <th>ひとこと</th>
      <td><%= @user.introduction.presence || '未設定' %></td>
    </tr>
  </table>
</div>