<nav class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top'>
  <%=
  if current_user
    link_to 'GANVA!', :user_home, class: 'logo-mark navbar-brand'
  else
    link_to 'GANVA!', :user_root, class: 'logo-mark navbar-brand'
  end
  %>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <%=
          unless current_user
            link_to 'ログイン', :user_login
          end
        %>
      </li>
      <% if current_user %>
      <li class='nav-item active'>
        <%= link_to 'HOME', :user_home, class: 'nav-link' %>
      </li>
      <li class='nav-item active'>
        <%= link_to 'アクティビティ', :user_activities, class: 'nav-link' %>
      </li>
      <li class='nav-item disabled'>
        <%= link_to 'アチーブメント', :user_achievements, class: 'nav-link' %>
      </li>
      <li class='nav-item active'>
        <%= link_to 'ボルともを探す', :user_users, class: 'nav-link' %>
      </li>
      <li class='nav-item active'>
        <%= link_to 'ジムを探す', :user_gyms, class: 'nav-link' %>
      </li>
      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          アカウント
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
          <%= link_to 'プロフィール', :user_profile, class: 'dropdown-item' %>
          <%= link_to 'アカウント設定', :user_account, class: 'dropdown-item' %>
          <div class='dropdown-divider'></div>
          <%= link_to 'ログアウト', :user_session, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
      <% end  %>
    </ul>
  </div>
</nav>
<%= content_tag(:div, flash.notice, class: 'alert alert-info', role: 'alert') if flash.notice %>
<%= content_tag(:div, flash.alert, class: 'alert alert-danger', role: 'alert') if flash.alert %>