<header>
  <% if current_user %>
    <%= link_to 'GANVA!', :user_home, class: 'logo-mark' %>
  <% else %>
    <%= link_to 'GANVA!', :user_root, class: 'logo-mark' %>
  <% end %>

  <%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
  <%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>
  <%=
    if @current_user
      link_to 'ログアウト', :user_session, method: :delete
    else
      link_to 'ログイン', :user_login
    end
  %>
  <% if @current_user %>
    <div class="user_menu" >
      <ul>
        <li><%= link_to 'アクティビティ', :user_activities %></li>
        <li><%= link_to 'アチーブメント', :user_achievements %></li>
        <li><%= link_to 'ボルともを探す', :user_users %></li>
        <li><%= link_to 'アカウント設定', :user_user %></li>
      </ul>
    </div>
  <% end  %>
</header>