<tr id='activity-<%= activity.id %>'>
  <td><%= activity.date %></td>
  <td><%= activity.gym.name %></td>
  <td><%= render 'status_label', status: activity.status %></td>
  <td class='actions'>
    <%= link_to '詳細', [ :user, @user, activity ] %>
    <% if @user == current_user %>
      | <%= link_to '編集', [ :edit, :user, activity ] %> |
      <%= link_to '削除', [ :user, activity ], method: :delete,
        data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </td>
</tr>