<li id='activity-<%= activity.id %>'>
  <%= link_to gravatar_for(activity.user, size: 50), [:user, activity.user] %>
  <span class='user'><%= link_to activity.user.uid, [:user, activity.user] %></span>
  <span class='content'>
    <%= link_to activity.start_datetime.strftime('%m月%d日 %H:%M'), [:user, activity.user, activity] %> から 
    <%= link_to activity.gym.name, [:user, activity.gym] %>
    <%= 
    if activity.status == Settings.activity.status.ready
      'で登る宣言をしました！'
    elsif activity.status == Settings.activity.status.aborted
      'で登る予定を中止しました。'
    elsif activity.status == Settings.activity.status.done
      'で登りました！'
    elsif activity.status == Settings.activity.status.recorded
      'で登った記録をつけました！'
    end %>
  </span>
  <span class='description'>
    <%= activity.description %>
  </span>
  <span class='timestamp'>
    <%= time_ago_in_words(activity.updated_at) %>前
  </span>
</li>