<% @title = 'アクティビティ一覧'%>
<h1><%= @title %></h1>

<p><%= @activities %></p>

<div class="table-wrapper">
  <% if @user == current_user %>
    <div class="links">
      <%= link_to "新規登録", :new_user_activity %>
    </div>
  <% end %>

  <table class='listing table table-hover'>
    <thead class='thead-dark'>
      <tr>
        <th>日付</th>
        <th>タイトル</th>
        <th>宣言</th>
        <th>結果</th>
        <th>アクション</th>
      </tr>
    </thead>
    <% @user.activities.each do |a| %>
      <tr>
        <td><%= a.date %></td>
        <td><%= a.title %></td>
        <td><%= a.commit_record ? 'あり' : 'なし' %></td>
        <td><%= a.result_record ? 'あり' : 'なし' %></td>
        <td class="actions">
          <%= link_to "詳細", [ :user, @user, a ] %>
          <% if @user == current_user %>
            | <%= link_to "編集", [ :edit, :user, a ] %> |
            <%= link_to "削除", [ :user, a ], method: :delete,
              data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if @user == current_user %>
    <div class="links">
      <%= link_to "新規登録", :new_user_activity %>
    </div>
  <% end %>
</div>