<% @title = @activity.date %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <table class="attributes">
    <tr>
      <th>日付</th>
      <td><%= @activity.date %></td>
    </tr>
    <tr>
      <th>説明</th>
      <td><%= @activity.description %></td>
    </tr>
  </table>
</div>

<div class="links">
  <%= link_to "編集", :edit_user_activity %> | 
  <%= link_to "削除", [ :user, @activity ], method: :delete, data: { confirm: "本当に削除しますか？" }%>
</div>

<%
  case @activity.status 
    when Settings.activity.status.ready,
         Settings.activity.status.aborted,
         Settings.activity.status.done then @title = '宣言'
    when Settings.activity.status.recorded then @title = '結果'
  end
%>
<div class="table-wrapper">
  <table class="attributes">
    <thead class='thead-dark'>
      <tr><th colspan='2'><%= @title %></th></tr>
    </thead>
    <tr>
      <th>時間</th>
      <td><%= @activity.start_time.strftime('%H:%M') %> 〜 <%= @activity.end_time.strftime('%H:%M') %></td>
    </tr>
    <tr>
      <th>場所</th>
      <td><%= @gym.name %></td>
    </tr>
    <% if @lc_attr %>
      <% @ln_attr.zip @lc_attr do |ln, lc| %>
        <tr><th><%= ln %></th><td><%= lc %></td></tr>
      <% end %>
    <% else %>
      <tr>
        <th>レベル</th>
        <td><%= @activity.level %></td>
      </tr>
    <% end %>
  </table>
</div>
