<% @title = @activity.date %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <table class="attributes">
    <tr>
      <th>日付</th>
      <td><%= @activity.date %></td>
    </tr>
    <tr>
      <th>説明</th>
      <td><%= @activity.description %></td>
    </tr>
  </table>
</div>

<div class="links">
  <%= link_to "編集", :edit_user_activity %> | 
  <%= link_to "削除", [ :user, @activity ], method: :delete, data: { confirm: "本当に削除しますか？" }%>
</div>

<%
  case @activity.status 
    when 'ready','aborted','done' then @title = '宣言'
    when 'recorded' then @title = '結果'
  end
%>
<div class="table-wrapper">
  <table class="attributes">
    <thead class='thead-dark'>
      <tr><th colspan='2'><%= @title %></th></tr>
    </thead>
    <tr>
      <th>時間</th>
      <td><%= Time.parse(@activity.start_time).strftime("%X") %> 〜 <%= Time.parse(@activity.end_time).strftime("%X") %></td>
    </tr>
    <tr>
      <th>場所</th>
      <td><%= @gym.name %></td>
    </tr>
    <% if @activity.status == 'recorded' %>
      <% @ln = @gym.level_name %>
      <tr><th><%= @ln.level0 %></th><td><%= @activity.level_count.level0 %></td></tr>
      <tr><th><%= @ln.level1 %></th><td><%= @activity.level_count.level1 %></td></tr>
      <tr><th><%= @ln.level2 %></th><td><%= @activity.level_count.level2 %></td></tr>
      <tr><th><%= @ln.level3 %></th><td><%= @activity.level_count.level3 %></td></tr>
      <tr><th><%= @ln.level4 %></th><td><%= @activity.level_count.level4 %></td></tr>
      <tr><th><%= @ln.level5 %></th><td><%= @activity.level_count.level5 %></td></tr>
      <tr><th><%= @ln.level6 %></th><td><%= @activity.level_count.level6 %></td></tr>
      <tr><th><%= @ln.level7 %></th><td><%= @activity.level_count.level7 %></td></tr>
      <tr><th><%= @ln.level8 %></th><td><%= @activity.level_count.level8 %></td></tr>
      <tr><th><%= @ln.level9 %></th><td><%= @activity.level_count.level9 %></td></tr>
    <% else %>
      <tr>
        <th>レベル</th>
        <td><%= @activity.level %></td>
      </tr>
    <% end %>
  </table>
</div>
