<% @title = "アクティビティ詳細 #{@activity.date}" %>
<h1><%= @title %> <%= render 'status_label', status: @activity.status %></h1>

<% if @activity.user == current_user %>
<div class="links">
    <% case @activity.status %>
    <% when Settings.activity.status.ready %>
      <% if @activity.start_datetime > Time.current %>
        <%= link_to '編集', [ :edit, :user, @activity ], class: 'btn btn-outline-primary' %>
        <%= link_to '中止', [ 'abort', :user, @activity ], method: :post, class: 'btn btn-outline-danger',
          data: { confirm: '本当に中止しますか？' } %>
      <% else %>
        <%= link_to '完了', [ 'done', :user, @activity ], method: :post, class: 'btn btn-outline-warning' %>
      <% end %>
    <% when Settings.activity.status.recorded %>
      <%= link_to '編集', [ :edit, :user, @activity ], class: 'btn btn-outline-primary' %>
    <% when Settings.activity.status.aborted %>
      <% if @activity.end_datetime > Time.current %>
        <%= link_to '再開', [ 'ready', :user, @activity ], method: :post, class: 'btn btn-outline-info' %>
      <% end %>
    <% when Settings.activity.status.done %>
      <%= link_to '記録', [ 'record', :user, @activity ], class: 'btn btn-outline-info' %>
    <% end %>
  <%= link_to "削除", [ :user, @activity ], method: :delete, class: 'btn btn-danger',
    data: { confirm: "本当に削除しますか？" } %>
</div>
<% end %> 

<div class="table-wrapper">
  <table class="attributes">
    <tr>
      <th>日付</th>
      <td><%= @activity.date %></td>
    </tr>
    <tr>
      <th>時間</th>
      <td><%= @activity.start_time.strftime('%H:%M') %> 〜 <%= @activity.end_time.strftime('%H:%M') %></td>
    </tr>
    <tr>
      <th>ジム</th>
      <td><%= @gym.name %></td>
    </tr>
    <tr>
      <th>説明</th>
      <td><%= @activity.description %></td>
    </tr>
  </table>
</div>

<%
  case @activity.status 
    when Settings.activity.status.ready,
         Settings.activity.status.aborted,
         Settings.activity.status.done then @title = '宣言'
    when Settings.activity.status.recorded then @title = '結果'
  end
%>
<div class="table-wrapper">
  <table class="attributes">
    <thead class='thead-dark'>
      <tr><th colspan='2'><%= @title %></th></tr>
    </thead>

    <% if @lc_attr %>
      <% @ln_attr.zip @lc_attr do |ln, lc| %>
        <tr><th><%= ln %></th><td><%= lc %></td></tr>
      <% end %>
    <% else %>
      <tr>
        <th>レベル</th>
        <td><%= @activity.level %></td>
      </tr>
    <% end %>
  </table>
</div>
