<% @title = '新規登録'%>
<h1><%= @title %></h1>

<%= render 'shared/error_messages' %>
<fieldset  class="card card-container">
  <div class='form-group' id='generic-form'>
    <%= form_with model: @user, url: :user_users do |f| %>
      <%= render 'form', f: f %>
      <div class='button'>
        <%= f.submit '登録' , class: "btn btn-lg btn-primary btn-block btn-submit" %>
        <%= link_to 'キャンセル', :user_login, class: "btn btn-lg btn-block btn-cancel"  %>
      </div>
    <% end %>
  </div>
</fieldset>