<% @title = '@' + @user.uid %>
<h1><%= @title %></h1>
<h2><%= @user.name %>さん</h2>
<section class="stats">
  <%= render 'user/shared/stats' %>
</section>
<%= render 'follow_form' if current_user %>
<h2>ひとこと： <%= @user.introduction %></h2>

  <% if @user %>
    <div class="user_menu" >
      <ul>
        <li><%= link_to 'アクティビティ', "/users/#{@user.id}/activities" %></li>
        <li><%= link_to 'アチーブメント', "/users/#{@user.id}/achievements" %></li>
      </ul>
    </div>
  <% end  %>